body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(238, 231, 220);
  font-family: 'Libre Franklin', sans-serif; 
  font-family: 'Raleway', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.projectList{
  display: flex;
  justify-content: space-evenly;
  color: rgb(56, 55, 55);
  width : max-content;
  height: auto;
  padding: 1%;
  margin: auto;
  border: 1px solid grey;
  border-radius: 50px;
  box-shadow: 5px 10px grey;
  text-decoration: none;
}

.socialList{
  display: flex;
  justify-content: space-evenly;
  width : max-content;
  padding: 1%;
  margin: auto;
  border: 1px solid grey;
  border-radius: 50px;
  box-shadow: 5px 10px grey;
  text-decoration: none;
}

.navbar{
  position: sticky;
  top: 0;
  background-color: rgb(238, 231, 220);
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  border-bottom-style: solid;
}

.navbar_text{
  text-decoration: none;
  color: rgb(56, 55, 55);
}

.logo{
  background-color: transparent;
  width: 10em;
  height: 10em;
  padding: 1%;
}

.Home{
  font-size: x-large;
  margin-left: 35%;
  width: 30%;
  border-top-style: solid;
  border-bottom-style: solid;
  padding-top: 1em;
  padding-bottom: 1em;
}

.GDLogo{
  height: 5%;
  width: 20%;
}

#me{
  border-radius: 50%;
  height: 20rem;
  width: auto;
}

#about_words{
  margin-left: 35%;
  width: 30%;
  font-size: large;
  border-top-style: solid;
  border-bottom-style: solid;
  margin-top: 1rem;
}
